/*!
 * Stylesheet for design kmom05.
 *
 * This stylesheet is for the design course and kmom04 where we use LESS.
 */
/**
  * Normalize and reset the style.
  */
/**
 * My own settings, not currently in their own module.
 */
/**
  * Figure and figcaption for images and other media using figure/figcaption
  */
/**
 * Figure with ASCIINEMA
 */
/**
 * Figure with Codepen
 */
/** --------------------------------------------------------------
 * Figure through .figure
 */
figure.figure,
figure.asciinema,
figure.codepen,
figure.figure-codepen {
  display: table;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  /* Chrome shinks images in td */
  /* Position the images */
}
figure.figure img {
  max-width: 100%;
  display: block;
}
figure.figure figcaption {
  display: table-caption;
  caption-side: bottom;
  padding-top: 12px;
}
figure.figure figcaption p {
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
}
figure.figure td img {
  max-width: none;
}
figure.figure.center {
  clear: both;
  margin: auto;
}
figure.figure.center figcaption {
  text-align: center;
}
figure.figure.left {
  float: left;
  margin-right: 0.5em;
}
figure.figure.right {
  float: right;
  margin-left: 0.5em;
}
@media screen and (max-width: 963px) {
  figure.figure.left.w67,
  figure.figure.right.w67 {
    margin-left: 0;
    margin-right: 0;
    float: none;
  }
  figure.figure.left.w67 img,
  figure.figure.right.w67 img {
    width: 962.5px;
  }
}
@media screen and (max-width: 733px) {
  figure.figure.left.w50,
  figure.figure.right.w50 {
    margin-left: 0;
    margin-right: 0;
    float: none;
  }
  figure.figure.left.w50 img,
  figure.figure.right.w50 img {
    width: 733.33333333px;
  }
}
@media screen and (max-width: 688px) {
  figure.figure.left.w40,
  figure.figure.right.w40 {
    margin-left: 0;
    margin-right: 0;
    float: none;
  }
  figure.figure.left.w40 img,
  figure.figure.right.w40 img {
    width: 687.5px;
  }
}
@media screen and (max-width: 550px) {
  figure.figure.left.w33,
  figure.figure.right.w33 {
    margin-left: 0;
    margin-right: 0;
    float: none;
  }
  figure.figure.left.w33 img,
  figure.figure.right.w33 img {
    width: 550px;
  }
}
@media screen and (max-width: 367px) {
  figure.figure.left.w25,
  figure.figure.right.w25 {
    margin-left: 0;
    margin-right: 0;
    float: none;
  }
  figure.figure.left.w25 img,
  figure.figure.right.w25 img {
    width: 366.66666667px;
  }
}
figure.asciinema {
  display: block;
}
figure.asciinema figcaption {
  display: block;
}
figure.asciinema .asciicast {
  margin: 0 !important;
}
figure.codepen,
figure.figure-codepen {
  width: 100%;
}
