/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */


/**
 * General layout
 */

@mainColor:  #fcfcfc;
@headerColor: #a3aab1;
@footerColor: #45505c;
@footerTextColor: #fff;
@footerBorder: #666;
@figureBorderColor: #bfc4cc;


 .outer-wrap-header {
    background-color: @headerColor;
    padding: 15px;
    padding-bottom: 0;
    }

.inner-wrap {
    max-width:1000px;
    margin: 0 auto;
}

.inner-wrap-header {
  max-width:none;
  margin: 0 auto;
}

.inner-wrap-header .row{
    max-width:100%;
}

.inner-wrap.inner-wrap-header{
    margin-right:auto;
    margin-left:auto;
    max-width:100%;
}

/* Hide submenu, leave this to kmom02 */
/*.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
/*.rm-navbar-max {
    display: none;
}*/

.site-logo{
    position:absolute;
    top:40px;
    left:40px;
}

.site-logo img {
    display:none;
}

.site-logo-text-icon img{
    display:none;
}

.outer-wrap-flash {
    margin-bottom:24px;
}

.inner-wrap-flash {
    width: 100%;
    padding-bottom: 20px;
}

.flashImg {
    display: none;
}

.row::after{
    content:"";
    display:block;
    clear:both;
}

.rm-navbar {
    text-align: center;
    font-family: ;
    font-size: 30px;
    line-height: 0;
  }

.rm-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.rm-desktop li {
    position: relative;
}

.rm-default li {
    display: inline-block;
}

.rm-default a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    padding: 15px;
//    padding-top: 0;
    padding-bottom: 25px;
    outline: 0;
    color: white;
    font-size: 24px;
}

.rm-desktop li a:hover {
    text-decoration:underline;
}

.next-previous {
    margin-bottom: 24px;
}

.next-previous .next {
    float: right;
    text-align: right;
}

.next-previous .next, .next-previous .previous {
    width: 50%;
}

.rm-default ul.rm-show-submenu{
    left:0;
}

.wrap-sidebar .block h4{
    border-top:1px solid #ccc;
    background-image:linear-gradient(to right,#fff,#ccc);
}

.inner-wrap-columns-above{
    margin-bottom:24px;
}
.inner-wrap-main{
    margin-bottom: 10px;
}
.article{
    margin-bottom:72px;
}

.wrap-sidebar .block{
    margin-bottom:48px;
}

figure.figure.left{
    float:left;
    margin-right:15px;
    margin-top: 4px;
    border: solid 0.1px @figureBorderColor;
    padding: 5px;
    margin-left: 5px;
}

figure.figure.right{
    float:right;
    margin-left: 15px;
    margin-top: 4px;
    border: solid 0.1px @figureBorderColor;
    padding: 5px;
    margin-right: 5px;
}
figure.figure.center{
    clear:both;
    margin:auto;
}

.outer-wrap-footer{
    background-color:@footerColor;
    padding-top:24px;
    padding-bottom:48px;
}

.footer-column-wrapper::after{
    content:"";
    display:block;
    clear:both;
}

.footer-column{
    display:inline;
    float:left;
    width:32.29166667%;
    margin-left:.52083333%;
    margin-right:.52083333%;
}
.footer-column,.footer-column-x{
    height:100%;
}

.footer-column-wrapper{
    color:@footerTextColor;
    border-bottom:1px solid @footerBorder;
    padding-bottom:24px;
    margin-bottom:48px;
}

.footer-column-wrapper ul{
    list-style:none;
    margin:0;
    padding:0;
}
.footer-column-wrapper a{
    color:inherit;
}
.footer-column-x{
    padding-bottom:24px;
    padding-right:1em;
}
.footer-column-1,.footer-column-2{
    border-right:1px solid @footerBorder;
}
.footer-column-2,.footer-column-3{
    padding-left:1em;
}
.site-footer{
    color: @footerTextColor;
    text-align:center;
    padding-bottom:24px;
}
.site-footer ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
.site-footer li{
    display:inline-block;
}
.site-footer li::after{
    content:" • ";
}
.site-footer li:last-child::after{
    content:none;
}
.site-footer a{
    color:inherit;
}
